.menu-bar {
  border-radius: 2em;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 3rem;
  margin-bottom: 2rem;
}

.logo {
  padding-left: 3em;
  width: 10%;
}
.search-bar {
  width: 50%;
  display: flex;
  padding-left: 5rem;
}
.search-bar-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar button {
  position: absolute;
  right: 0;
  background-color: var(--Brand-Color-Green);
  height: 80%;
  aspect-ratio: 1;
  border-radius: 2em;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5em;
}
.search-bar input {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 2em;
}
.menu-end {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: end;
}
.icon {
  width: 2em;
  height: 2em;
}
.currency-dropdown {
  position: relative;
  display: inline-block;
  p {
    font-weight: bold;
    /* font-size: 1.25em; */
  }
}
.currency-dropdown-content {
  display: none;
  position: absolute;
  min-width: 4em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  p {
    text-align: center;
  }
}
.currency-dropdown-main {
  display: flex;
  align-items: center;
}

.currency-dropdown:hover .currency-dropdown-content {
  display: block;
}
.currency-dropdown-content p:hover {
  background-color: var(--Green);
}
.currency-dropdown img {
  width: 1em;
  height: 1em;
  aspect-ratio: 1;
}
