.menu-bar{
    border-radius: 2em;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 3rem;
    margin-bottom: 2rem;
}

.searchbar{
    width: 20em;
}
.logo{
    padding-left: 2em;
    width: 20%;
}
.searchbar{
    width: 50%;
}
.icon{
    width: 2em;
    height: 2em;
}
.currency{
    font-weight: bold;
}
.menu-end{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
}