:root {
  --Brand-Color-Green: rgba(0, 66, 37, 1);
  --Brand-color-White: rgb(255, 255, 255);
  --Brand-color-White1: rgba(248, 248, 250, 1);
  --Brand-black: rgba(0, 0, 0, 1);
  --Brand-background-color: #f8f8fa;
  --color-gray-1: rgba(197, 197, 197, 1);
  --Green: rgba(1, 158, 89, 1);

  --text-color-default: var(--color-gray-1);

  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2.5rem;

  --size-7: 3rem;
  --size-9: 3.5rem;

  --text-size-default: var(--size-2);
  --border-size-default: var(--size-1);
}
body {
  background-color: var(--Brand-background-color);
}
.info-card {
  width: 100%;
  height: 100%;
}
.info-card p {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.8;
}
.list-body {
  margin-left: 5%;
  width: 85%;
}
.list-main ul {
  list-style-type: none;
  display: flex;
}

.list-main ul li {
  width: 30%;
  max-height: 25em;
  margin-right: 3%;
  background-color: var(--Brand-color-White);
  border-radius: 1em;
}
.info-card-img {
  margin: 5%;
  width: 90%;
  aspect-ratio: 4/3;
  border-radius: 1em;
}
.info-card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  margin-left: 5%;
  margin-right: 5%;
}
.info-card-name p {
  background-color: var(--Brand-Color-Green);
  color: var(--Brand-color-White);
  margin: 0;
  padding: 0.25em;
  border-radius: 0.25em;
}
.footer {
  margin-top: 3rem;
  min-height: 10rem;
  border-radius: 2rem;
  background-color: #004225;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.footer-main {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: var(--Brand-Color-Green);
  color: white;
  margin-top: 2rem;
}
footer * {
  margin-top: 0.5rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 20%;
}
main {
  display: flex;
}
aside {
  margin-left: 2em;
  background-color: var(--Brand-color-White);
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  height: fit-content;
  width: 10%;
}

aside ul {
  list-style-type: none;
  padding: 0;
}
.rating-bar {
  position: relative;
  background-color: var(--Brand-color-White);
}
#rating {
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  border: none;
  display: inline-block;
  max-width: 100%;
  color: var(--Brand-Color-Green);
}
#rating::-webkit-progress-bar {
  background-color: var(--Brand-color-White);
  color: var(--Brand-Color-Green);
}
#rating::-moz-progress-bar {
  background-color: var(--Brand-color-White);
  color: var(--Brand-Color-Green);
}
.stars {
  display: flex;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.stars img {
  width: 20%;
  aspect-ratio: 1/1;
}
