:root {
  --Brand-Color-Green: rgba(0, 66, 37, 1);
  --Brand-color-White: rgb(255, 255, 255);
  --Brand-color-White1: rgba(248, 248, 250, 1);
  --Brand-black: rgba(0, 0, 0, 1);
  --Brand-background-color: #f8f8fa;
  --color-gray-1: rgba(197, 197, 197, 1);
  --Green: rgba(1, 158, 89, 1);

  --text-color-default: var(--color-gray-1);

  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2.5rem;

  --size-7: 3rem;
  --size-9: 3.5rem;

  --text-size-default: var(--size-2);
  --border-size-default: var(--size-1);
}
body {
  background-color: var(--Brand-background-color);
}
.info-card {
  width: 100%;
  height: 100%;
}
.info-card p {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.8;
}
.list-body {
  margin-left: 2%;
  width: 88%;
}
.list-main ul {
  list-style-type: none;
  display: flex;
}

.list-main ul li {
  width: 30%;
  max-height: 25em;
  margin-right: 3%;
  background-color: var(--Brand-color-White);
  border-radius: 1em;
}
.info-card-img {
  margin: 5%;
  width: 90%;
  aspect-ratio: 4/3;
  border-radius: 1em;

}
.info-card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  margin-left: 5%;
  margin-right: 5%;
}
.info-card-name p {
  background-color: var(--Brand-Color-Green);
  color: var(--Brand-color-White);
  margin: 0;
  padding: 0.25em;
  border-radius: 0.25em;
}
main {
  display: flex;
}
aside {
  margin-left: 2em;
  background-color: var(--Brand-color-White);
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  height: fit-content;
  width: 10%;
}

aside ul {
  list-style-type: none;
  padding: 0;
}
.rating-bar {
  position: relative;
  background-color: var(--Brand-color-White);
}
#rating {
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  border: none;
  display: inline-block;
  max-width: 100%;
  color: var(--Brand-Color-Green);
}
#rating::-webkit-progress-bar {
  background-color: var(--Brand-color-White);
  color: var(--Brand-Color-Green);
}
#rating::-moz-progress-bar {
  background-color: var(--Brand-color-White);
  color: var(--Brand-Color-Green);
}
.stars {
  display: flex;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.stars img {
  width: 20%;
  aspect-ratio: 1/1;
}
.tour-main {
  border-color: black;
  border-style: solid;
  border-radius: 2em;
  max-width: 15em;
  min-width: 10em;
  aspect-ratio: 1/1;
  margin-top: 1em;
  margin-left: 2em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);}

  .tour-main-container {
    margin-top: 0.75em;
    width: 90%;
    height: 75%;
  }
  .tour-main-image {
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1em;
    overflow: hidden;}
    img {
      background-color: rgba(0, 66, 37, 1);
      width: 100%;
      height: 100%;
      aspect-ratio: 4/3;
    }
    h4 {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 1em;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
    }
  

.tour-main-rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
}