@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Brand-Color-Green: rgba(0, 66, 37, 1);
  --Brand-color-White: rgb(255, 255, 255);
  --Brand-color-White1: rgba(248, 248, 250, 1);
  --Brand-black: rgba(0, 0, 0, 1);
  --Brand-background-color: #f8f8fa;
  --color-gray-1: rgba(236, 235, 235, 0.562);
  --Green: rgba(1, 158, 89, 1);

  --text-color-default: var(--color-gray-1);

  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2.5rem;

  --size-7: 3rem;
  --size-9: 3.5rem;

  --text-size-default: var(--size-2);
  --border-size-default: var(--size-1);
}

/* Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-gray-1);
}
.menu-bar{
  border-radius: 2em;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.searchbar{
  margin-left: 15em;
  width: 20em;
}
.logo{
  width: 25%;
}
.searchbar{
  width: 50%;
}
.icon{
  width: 2em;
  height: 2em;
}
.currency{
  font-weight: bold;
}

body {
  height: 100%;
  width: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--Brand-color-White);
}


.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--size-2);
  font-family: "Times New Roman", Times, serif;
  color: var(--Brand-Color-Green);
}

.menu-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menu-end p {
  font-size: var(--size-1);
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.currency {
  border-bottom: black solid 2px;
  font-size: var(--size-2);
}

.location {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  border: black solid 1px;
  border-radius: 1rem;
}

.your-location {
  font-size: var(--size-1);
}

.loc {
  list-style: none;
}

.location-icon {
  width: 2rem;
  height: 2rem;
}

.your-location-now {
  font-size: var(--size-2);
}

.profile {
  width: 6rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: var(--size-1);
  color: var(--Brand-color-White);
  background-color: var(--Brand-Color-Green);
}

/* Profile Frame css */
@import "https://unpkg.com/open-props";

.frame {
  position: relative;
  top: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
}

.profile-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--Brand-color-White);
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  margin: 10px;
}

.profile-info {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
  width: 100%;
  background-color: var(--Brand-color-White);
}

.profile-name {
  font-size: var(--size-2);
  justify-content: start;
  display: flex;
  flex-direction: column;
  background-color: var(--Brand-color-White);
}

.profile-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--Brand-color-White);
}

.profile-details {
  list-style: none;
  justify-content: space-between;
  background-color: var(--Brand-color-White);
}

.profile-details-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.profile-details li {
  margin-bottom: 5px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-mail,
.icon-phone,
.icon-calendar,
.icon-location {
  align-items: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.icon-mail {
  background-image: url("/assets/message-icon.png");
}

.icon-phone {
  background-image: url("/assets/call-icon.png");
}

.icon-location {
  background-image: url("/assets/location-icon.png");
}

.icon-calendar {
  background-image: url("/assets/icon-calendar.png");
}

/* side bar */
.side-bar {
  position: absolute;
  margin-top: 2rem;
  height: auto;
  width: 15rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  flex-direction: column;
}

.side-bar li {
  font-size: var(--size-1);
  padding: 10px 40px;
  display: flex;
  height: 3rem;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  background-color: var(--Brand-Color-Green);
  transition: background-color 0.3s ease;
}

.side-bar ul {
  justify-content: center;
  display: contents;
  color: white;
  background-color: black;
}

.side-bar li:hover {
  color: var(--Brand-Color-Green);
}

/* side-main */
.side-main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 260px;
}

.title-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-search h2 {
  align-items: start;
}

.search-button {
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.search-button:hover {
  background-color: darkgreen;
}

.side-main-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.card-fav {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 45%;
  padding: 0.2rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.card-fav-img {
  height: 5rem;
  width: 5.3rem;
  padding-left: 0.15rem;
  border-radius: 1rem;
}

.card-fav-info {
  display: flex;
  flex-direction: column;
  /* height: 6rem; */
  width: 100%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.card-fav-info h5 {
  color: red;
}

.card-fav-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-fav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: auto;
}

.fav-icon-location {
  background-image: url("/assets/location-icon.png");
}

.fav-icon-menu {
  background-image: url("/assets/location-menu.png");
}

.fav-icon-category {
  background-image: url("/assets/category-icon.png");
}

.card-fav-ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fav-icon-location,
.fav-icon-menu,
.fav-icon-category {
  display: inline-block;
  width: 0.95rem;
  height: 0.95rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.fav-icon-location {
  background-image: url("/assets/location-icon.png");
}

.fav-icon-menu {
  background-image: url("/assets/menu-icon.png");
}

.fav-icon-category {
  background-image: url("/assets/category-icon.png");
}

.card-fav-ul p {
  font-size: 0.85rem;
}

/* Default styles */
.card-fav,
.card-fav-info,
.card-fav-img,
.card-fav-title,
.card-fav-ul,
h3,
.fav-icon-location,
.fav-icon-menu,
.fav-icon-category,
h5 {
  background-color: var(--Brand-color-White);
}

/* Media Query for Mobile Phones (Vertical) */
@media (max-width: 480px) {
  .card-fav {
    width: 100%; /* Full width */
  }
}

/* Media Query for Mobile Phones (Horizontal) */
@media (min-width: 481px) and (max-width: 767px) {
  .card-fav {
    width: 48%; /* 2 cards per row */
  }
}

/* Media Query for Computer Screens */
@media (min-width: 768px) {
  .card-fav {
    width: 30%; /* 3 cards per row */
  }
}
.profile-details-ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
ul{
  list-style-type: none;
}