@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Brand Color */
:root {
  --Brand-Color-Green: rgba(0, 66, 37, 1);
  --Brand-color-White: rgb(255, 255, 255);
  --Brand-color-White1: rgba(248, 248, 250, 1);
  --Brand-black: rgba(0, 0, 0, 1);
  --Brand-background-color: #F8F8FA;
  --color-gray-1: rgba(247, 238, 238, 0.772);
  --Green: rgba(1, 158, 89, 1);
  

  --text-color-default:var(--color-gray-1);
  
  --size-1:1rem;
  --size-2:1.5rem;
  --size-3:2.5rem;

  --size-7:3.0rem;
  --size-9:3.5rem;

  --text-size-default:var(--size-2);
  --border-size-default:var(--size-1); 
}


 /* Header */
* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-gray-1);
}

body {
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--Brand-color-White);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--size-2);
  font-family: 'Times New Roman', Times, serif;
  color: var(--Brand-Color-Green);
}

.menu-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menu-end p {
  font-size: var(--size-1);
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.currency {
  border-bottom: black solid 2px;
  font-size: var(--size-2);
}

.location {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  border: black solid 1px;
  border-radius: 1rem;
}

.your-location {
  font-size: var(--size-1);
}

.loc {
  list-style: none;
}

.location-icon {
  width: 2rem;
  height: 2rem;
}

.your-location-now {
  font-size: var(--size-2);
}

.profile {
  width: 6rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: var(--size-1);
  color: var(--Brand-color-White);
  background-color: var(--Brand-Color-Green);
}


/* Profile Frame css */
.frame {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 1em;
    display: flex;
    flex-direction: row;
}

.profile-section {
    display: flex;
    flex-direction: row;
}

.profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    margin: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.profile-name {
    font-size: var(--size-2);
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.profile-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-details {
  list-style: none;
  justify-content: space-between;
}

.profile-details-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.profile-details li {
  margin-bottom: 5px;
}

/* side bar */
.side-bar {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    display: flex;
    gap: 1rem;
    background-color: var(--Brand-color-White);
    border-radius: 1rem;
    flex-direction: column;
}

.side-bar li{
    font-size: var(--size-1);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    background-color: rgb(38, 186, 141);
}

.side-bar ul{
    justify-content: center;
    display: contents;
    color: white;
    background-color: black;
}

.side-bar li:hover{
    background: white;
    color: var(--Brand-Color-Green);
}